﻿@using Cyberbreaks.Data
@using CyberbreaksLogins.Models
@model IndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/agency.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body id="page-top" class="index">

    <!-- Navigation -->
    <div id="index">
        <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Cyber Breaks</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#logins">Logins</a>
                        </li>
                        @*<li>
                                <a class="page-scroll" href="#blog">Blog</a>
                            </li>*@
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                    <div class="intro-lead-in">Welcome To <strong>CyberBreaks</strong>!</div>
                    <div class="intro-heading">It's Nice To Meet You</div>
                    <a href="#logins" class="page-scroll btn btn-xl btn-lg btn-info">Go To Logins</a>
                </div>
            </div>
        </header>

        <!-- Logins Section -->
        <section id="logins" class="bg-light-gray">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">LOGINS</h2>
                        <h3 class="section-subheading text-muted">Please enjoy the logins to premium services</h3>
                        @if (Model.User.IsAdmin)
                        {
                            <button @@click="addNewLoginBtn" class="btn btn-primary">Add new login</button>
                            <hr />
                        }
                    </div>
                </div>

                <div class="row text-center">
                    <template v-for="login in logins">
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <strong>{{login.Website}}</strong>
                                </div>
                                <div class="panel-body">
                                    <p class="text-muted">
                                        Remaining Days: <strong>{{login.DaysRemaining}} </strong>
                                    </p>
                                    <p class="text-muted">
                                        Username: <strong>{{login.Username}}</strong>
                                    </p>
                                    <p class="text-muted">
                                        Password: <strong>{{login.Password}}</strong>
                                    </p>
                                    <a href="#" class="glyphicon glyphicon-pencil text-muted">Edit</a>
                                </div>
                            </div>
                        </div>
                    </template>


                    @foreach (var login in Model.Logins)
            {
                        <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <strong>@login.Website</strong>
                                </div>
                                <div class="panel-body">
                                    <p class="text-muted">
                                        Remaining Days: <strong>@(login.EndDate > login.StartDate ? (int)login.EndDate.Subtract(DateTime.Now).TotalDays : 0) </strong>
                                    </p>
                                    <p class="text-muted">
                                        Username: <strong>@login.Username</strong>
                                    </p>
                                    <p class="text-muted">
                                        Password: <strong>@login.Password</strong>
                                    </p>
                                    <a href="#" class="glyphicon glyphicon-pencil text-muted">Edit</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </section>

        <!-- About Section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">ABOUT</h2>
                        <h3 class="section-subheading text-muted">Whats CyberBreaks?</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h4>Cyber breaks provides basic ideas and tricks on how to bypass annoying problems that the WEB PC and SMARTPHONES have. If youd like to become and author please contact and admin via social media or through our <a href="#contact">Contact Form</a></h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team Section -->
        <section id="team" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">OUR AMAZING TEAM</h2>
                        <h3 class="section-subheading text-muted">Meet some of our team members</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="~/Images/TheTeam/mordyOrtTheTeam.jpg" class="img-responsive img-circle" alt="" />
                            <h4>Mordy Ort</h4>
                            <p class="text-muted">President</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://twitter.com/mordyort"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/DJ1LUV"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/mordyort"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img style="height: 206px; width: 206px;" src="~/Images/TheTeam/mayerLenchTheTeam.jpg" class="img-responsive img-circle" alt="" />
                            <h4>Mayer Lench</h4>
                            <p class="text-muted">Lead Developer</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/mayerlench"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/mayer-lench-650685125"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                            <div class="team-member">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=17&txt=186%C3%97186&w=186&h=186" class="img-responsive img-circle" alt="">
                                <h4>Zevi Greenspan</h4>
                                <p class="text-muted">Administrator</p>
                                <ul class="list-inline social-buttons">
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted">Give a shoutout by liking our <a href="https://www.facebook.com/Cyberbreaks/">CyberBreaks Page</a> and following our admins on social media. Thank you for being a part of our chat.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">CONTACT US</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; Your Website 2016</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://twitter.com/Cyber_Breaks"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Cyberbreaks/"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/cyber-breaks"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        @*<ul class="list-inline quicklinks">
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </footer>

        @* Add Login Modal *@
        <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 v-if="addNewLogin" class="modal-title">Add New Login</h4>

                    </div>
                    <div class="modal-body">
                        <div v-if="addNewLogin">

                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Website/App</label>
                                    <div class="col-sm-10" v-bind:class="{ 'has-error': !login.Website,'has-success': login.Website }">
                                        <input type="text" class="form-control" placeholder="Website/App" v-model="login.Website" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-10" v-bind:class="{ 'has-error': !login.Username,'has-success': login.Username }">
                                        <input type="text" class="form-control" placeholder="Username" v-model="login.Username" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10" v-bind:class="{ 'has-error': !login.Password,'has-success': login.Password }">
                                        <input type="text" class="form-control" placeholder="Password" v-model="login.Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">StartDate</label>
                                    <div class="col-sm-7">
                                        <div class="input-group date datepicker-input" v-bind:class="{ 'has-error': !login.StartDate,'has-success': login.StartDate}" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="StartDate" v-model="login.StartDate">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">EndDate</label>
                                    <div class="col-sm-7">
                                        <div class="input-group date datepicker-input" v-bind:class="{ 'has-error': !login.EndDate,'has-success': login.EndDate}" data-provide="datepicker">
                                            <input type="text" class="form-control" placeholder="EndDate" v-model="login.EndDate">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button v-if="addNewLogin" @@click="submitNewLogin" type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/scripts/jquery-2.2.4.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/vue.min.js"></script>
<script src="~/scripts/Index-Vue.js"></script>
<script src="~/scripts/agency.min.js"></script>
<script src="~/scripts/bootstrap-datepicker.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="~/scripts/jqBootstrapValidation.js"></script>
<script src="~/scripts/contact_me.js"></script>
